aiohttp
andersen-ev @ https://github.com/strobejb/andersen-ev/releases/download/v0.1.20/andersen_ev-0.1.20-py3-none-any.whl
asyncio
async_cron
awsiotsdk
black
boto3
dateparser
gql
pip-tools
pycognito
pytest
pytest-asyncio
python-dotenv
renault-api
requests
requests_toolbelt
tabulate
websockets
